@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply border-border;
}

body {
  @apply bg-shedow-dark text-white;
  background-attachment: fixed;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #00d4ff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00a8cc;
}
